name: Build Il2CppDumper

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: windows-latest
    strategy:
      matrix:
        configuration: [Release]

    steps:
    - uses: actions/checkout@v4

    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 8.0.x

    - name: Restore
      run: dotnet restore Il2CppDumper.sln

    - name: Build
      run: dotnet build Il2CppDumper.sln --configuration ${{ matrix.configuration }} --no-restore

    - name: Upload build output
      uses: actions/upload-artifact@v4
      with:
        name: Il2CppDumper_Build
        path: 'Il2CppDumper/Dumper.exe'
